* {
  box-sizing: border-box;
}

 section, nav, footer{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 0px;
}

.caja1 {
  border-radius: 20px;
  background-color: rgba(230, 146, 146, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 0px;
  text-align: center;
  position: relative;
}


.caja1 img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.caja1B {
  border-radius: 0px;
  background-color: rgba(235, 225, 225, 0.5);
  padding-right: 80px;
  position: absolute;
  top: 40%;
  left: 50%;
  text-align: right;
  
}

.caja2{
  border-radius: 20px;
  background-color: rgba(160, 128, 240, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
  
  display: flex;
  justify-content: center;
  
}

.caja2B {
  border-radius: 0px;
  background-color: rgba(235, 225, 225, 0.5);
  width: 240px;
	margin: 10px;
	padding: 2px;
	float: left;
     
		
}
.caja3 {
  width: 50%;
  float: left;
  
  }
.caja-texto {
  background-color: black;
  text-align: left;
  padding: 10px;
}

.clear {
  clear: both;
}
.container {
  text-align: center;
}
.caja2B img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

footer  ul{
  list-style: none;
  text-align:justify;

}
footer li {
  display: inline-block;
  width: 13%;
}


  

